.category-preview-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px; // Adjusted margin for smaller screens

  .title {
    font-size: 24px; // Reduced font size for smaller screens
    margin-bottom: 20px; // Adjusted margin for smaller screens
    cursor: pointer;
  }

  .preview {
    display: grid;
    grid-template-columns: repeat(
      auto-fit,
      minmax(120px, 1fr)
    ); // Adjusted grid for smaller screens
    gap: 15px; // Adjusted gap for smaller screens
  }
}
